.flex_maincolumns {
    display: flex;
  }

  .flex_maincolumns > * {
    flex: 1 1 0;
  }

  .item {
    margin: 0.5rem;
    /* background: #f3edd6; */
    border: 3px solid #b59214;
    color: black;
    padding: 1rem;
    font-size: 2rem;
    /* text-align: center; */
  }

  .flex_subcolumns {
    display: flex;
    flex-direction: column;
    /* background-color: DodgerBlue; */
  }
  
  .flex_subcolumns > div {
    /* background-color: #f1f1f1; */
    width: auto;
    margin: 10px;
    /* text-align: center; */
    line-height: 30px;
    font-size: 15px;
  }

  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  h4 {
  font-weight: bold;
  text-align: center;
  }

  .fiolet {
    background-color: rgb(173, 164, 183);
  }

  .blue {
    background-color: rgb(159, 199, 238);
  }

  .darkgreen {
    background-color: rgb(108, 175, 108);
  }

  .lightgreen {
    background-color: rgb(206, 221, 206);
  }

  .orange {
    background-color: rgb(232, 195, 166);
  }

  .yellow {
    background-color: rgb(227, 189, 66);
  }

  .red {
    background-color: rgb(242, 186, 190);
  }

  .grey {
    background-color: grey;
  }

  .footer {
    grid-row-start: 2;
    grid-row-end: 3;
    background: #42A5F5;
    color: white;
    padding: 50px;
  }