.flex_maincolumns {
    display: flex;
  }

  .flex_maincolumns > * {
    flex: 1 1 0;
  }

  .item {
    color: black;
    padding: 10px 0px 10px 5px;
  }

  .flex_subcolumns {
    display: flex;
    flex-direction: column;
  }
  
  .flex_subcolumns > div {
    width: auto;
    margin: 5px;
    padding: 5px;
    line-height: 30px;
    font-size: 15px;
    border: 2px black;
    border-style: dotted;
  }

  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: white;
    /* background-color: #E2E8DD; */
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #697268;
    padding: 5px 35px 5px 35px;

  }

  .header_links {
    color: white;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 100px;
    }

  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }

  #criteria_first_column {
    background-color: #CECECE;
    margin-left: 35px;
    padding: 20px;
    font-weight: bold;
    font-size: 17px;
    border: 2px black;
    border-style: solid;
  }

  h1 {
    margin-bottom: 35px;
  }

  label {
    margin-bottom: 7px;
  }

  h1, h2 {
  font-weight: bold;
  text-align: center;
  }

  button {
    width: 100px;
    display: block;
    font-weight: bold;
  }

  .flex_button {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
  select {
    display: block;
  }

  #last_column {
    margin-right: 35px;

  }

  .markdowns_category {
    background-color: #ccd0c2;
  }

  footer {
    grid-row-start: 3;
    grid-row-end: 4;
    background: #697268;
    color: white;
    /* padding: 50px; */
    /* position: sticky; */
    width: 100%;
    /* bottom: 0;
    padding: 0;
    margin: 0; */
  }

  img {
    width: 50px;
    height: 50px;
    filter: invert(200%) sepia(33%) saturate(1352%) hue-rotate(300deg) brightness(119%) contrast(100%);
  }

  .flex_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .social_media {
    width: 20px;
    height: 20px;
  }

  