.flex_maincolumns {
    display: flex;
  }

  .flex_maincolumns > * {
    flex: 1 1 0;
  }

  .item {
    margin: 0.5rem;
    border: 3px solid #b59214;
    color: black;
    padding: 1rem;
    font-size: 2rem;
  }

  .flex_subcolumns {
    display: flex;
    flex-direction: column;
  }
  
  .flex_subcolumns > div {
    width: auto;
    margin: 10px;
    line-height: 30px;
    font-size: 15px;
  }

  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .header {
    background-color: #a5d6fe;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 100px;
    padding-right: 50px;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    
  }

  h4 {
  font-weight: bold;
  text-align: center;
  }

  .fiolet {
    background-color: rgb(173, 164, 183);
  }

  .blue {
    background-color: rgb(159, 199, 238);
  }

  .darkgreen {
    background-color: rgb(108, 175, 108);
  }

  .lightgreen {
    background-color: rgb(206, 221, 206);
  }

  .orange {
    background-color: rgb(232, 195, 166);
  }

  .yellow {
    background-color: rgb(227, 189, 66);
  }

  .red {
    background-color: rgb(242, 186, 190);
  }

  .grey {
    background-color: lightgrey;
  }

  footer {
    grid-row-start: 3;
    grid-row-end: 4;
    background: #a5d6fe;
    color: white;
    padding: 50px;
    /* position: sticky; */
    width: 100%;
    bottom: 0;
    padding: 0;
    margin: 0;
  }

    img {
      width: 100px;
      height: 100px;
    }

  